<div class="card">
  <span class="card-bg"></span>
  <span class="card-shadow"></span>
  <span class="card-description">Popular</span>
  <span class="card-text">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </span>
  <span class="card-user">
    <img src='https://raw.githubusercontent.com/lewagon/design/master/pick-it/pictures/students/charlotte_cady.jpg' class="avatar"/>
  </span>
  <a href="#" class="card-link"></a>
</div>