<h3 class="readme-header">Icon badge</h3>

<% code("html") do %>
<div class="icon-badge-container">
  <i class="fa fa-envelope-o"></i>
  <div class="icon-badge icon-badge-blue">3</div>
</div>
<% end %>

<div class="icon-badge-container">
  <i class="fa fa-envelope-o"></i>
  <div class="icon-badge icon-badge-blue">3</div>
</div>