<h3>User badge</h3>

<% code("html") do %>
<div class="user-badge-container">
  <img src="user.jpg" alt="" class="avatar">
  <div class="user-badge user-badge-red">M</div>
</div>
<% end %>

<div class="user-badge-container">
   <img src="https://raw.githubusercontent.com/lewagon/design/master/pick-it/pictures/students/charlotte_cady.jpg" alt="" class="avatar">
   <div class="user-badge user-badge-red">M</div>
</div>
