<p>A very simple component. Feel free to code your own variants. Here are ours:</p>


<img src='http://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
<img src='http://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
<img src='http://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
<img src='http://kitt.lewagon.com/placeholder/users/eschults' class="avatar-square"/>

<% code("html") do %>
<img src='http://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
<img src='http://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
<img src='http://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
<img src='http://kitt.lewagon.com/placeholder/users/eschults' class="avatar-square"/>
<% end %>
