<p>A very simple component. Feel free to code your own variants. Here are ours:</p>


<img src='images/papillard.jpeg' class="avatar"/>
<img src='images/papillard.jpeg' class="avatar-large"/>
<img src='images/papillard.jpeg' class="avatar-bordered"/>
<img src='images/papillard.jpeg' class="avatar-square"/>

<% code("html") do %>
<img src="user.jpg" alt="user" class="avatar">
<img src="user.jpg" alt="user" class="avatar-large">
<img src="user.jpg" alt="user" class="avatar-bordered">
<img src='user.jpg' alt="user" class="avatar-square"/>
<% end %>
