<p>A very simple component. Feel free to code your own variants. Here are ours:</p>


<img src='http://placehold.it/50x50' class="avatar"/>
<img src='http://placehold.it/50x50' class="avatar-large"/>
<img src='http://placehold.it/50x50' class="avatar-bordered"/>
<img src='http://placehold.it/50x50' class="avatar-square"/>

<% code("html") do %>
<img src="http://placehold.it/50x50" alt="" class="avatar">
<img src="http://placehold.it/50x50" alt="" class="avatar-large">
<img src="http://placehold.it/50x50" alt="" class="avatar-bordered">
<img src='http://placehold.it/50x50' class="avatar-square"/>
<% end %>
