<p>A very simple component. Feel free to code your own variants. Here are ours:</p>


<img src='https://kitt.lewagon.com/placeholder/users/ClaraMorgen' class="avatar"/>
<img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
<img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
<img src='https://kitt.lewagon.com/placeholder/users/eschults' class="avatar avatar-square"/>

<% code("html") do %>
<img src='https://kitt.lewagon.com/placeholder/users/ClaraMorgen' class="avatar"/>
<img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
<img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
<img src='https://kitt.lewagon.com/placeholder/users/eschults' class="avatar-square"/>
<% end %>
