<div class="banner text-center" style="background-image: url('https://unsplash.it/1000/500?image=0')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<% code("html") do %>
<div class="banner text-center" style="background-image: url('https://unsplash.it/1000/500')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
<% end %>
