<p>
  A very simple component. Feel free to code your own variants. Here are some examples:
</p>

<br>

<a href="#" class="btn-medium">Write a story</a>
<a href="#" class="btn-treehouse">Start now</a>

<% code("html") do %>
<a href="#" class="btn-medium">Write a story</a>
<a href="#" class="btn-treehouse">Start now</a>
<% end %>
