<a class="card" href="#">
  <div class="card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">Popular</div>
  </div>
  <div class="card-description">
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
</a>

<% code("html") do %>
<a class="card" href="#">
  <div class="card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">Popular</div>
  </div>
  <div class="card-description">
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
</a>
<% end %>

<h3 class="readme-header">Combined with Bootstrap grid</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a class="card" href="#">
        <div class="card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
          <div class="card-category">Popular</div>
        </div>
        <div class="card-description">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
          <h2>Le Wagon Copenhagen</h2>
          <p>Very cool city, the best</p>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="card" href="#">
        <div class="card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url('https://kitt.lewagon.com/placeholder/cities/lisbon');">
          <div class="card-category">Popular</div>
        </div>
        <div class="card-description">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/graydays">
          <h2>Le Wagon Lisbon</h2>
          <p>Very cool city, the best</p>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="card" href="#">
        <div class="card-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url('https://kitt.lewagon.com/placeholder/cities/sao-paulo');">
          <div class="card-category">Popular</div>
        </div>
        <div class="card-description">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/matleroux">
          <h2>Le Wagon Sao Paulo</h2>
          <p>Very cool city, the best</p>
        </div>
      </a>
    </div>
  </div>
</div>

<% code("html") do %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
<% end %>
