<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>

<% code("html") do %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>
<% end %>

<h3 class="readme-header">Combined with Bootstrap grid</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Copenhagen</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/lisbon');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Lisbon</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/graysdays">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/sao-paulo');">
       <div class="card-category">Popular</div>
       <div class="card-description">
         <h2>Le Wagon Sao Paulo</h2>
         <p>Very cool city, the best</p>
       </div>
       <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/matleroux">
       <a class="card-link" href="#" ></a>
     </div>
  </div>
</div>

<% code("html") do %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
<% end %>
