<h3 class="readme-header">With HTML-inline background</h3>

<div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/600/300?image=0');">
  <div class="card-category">Popular</div>
  <div class="card-text">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <div class="card-user">
    <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
  </div>
  <a href="#" class="card-link"></a>
</div>

<% code("html") do %>
<div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/600/300?image=0');">
  <div class="card-category">Popular</div>
  <div class="card-text">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <div class="card-user">
    <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
  </div>
  <a href="#" class="card-link"></a>
</div>
<% end %>

<h3 class="readme-header">Combined with Bootstrap grid</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/600/300?image=0');">
        <div class="card-category">Popular</div>
        <div class="card-text">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <div class="card-user">
          <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
        </div>
        <a href="#" class="card-link"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/600/300?image=1');">
        <div class="card-category">Popular</div>
        <div class="card-text">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <div class="card-user">
          <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
        </div>
        <a href="#" class="card-link"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/600/300?image=2');">
       <div class="card-category">Popular</div>
       <div class="card-text">
         <h2>Some stuff</h2>
         <p>Very cool stuff, useful and smart</p>
       </div>
       <div class="card-user">
         <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
       </div>
       <a href="#" class="card-link"></a>
     </div>
    </div>
  </div>
</div>

<% code("html") do %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- div class="card" -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- div class="card" -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- div class="card" -->
    </div>
  </div>
</div>
<% end %>
