<h3 class="readme-header">Icon badge</h3>

<div class="badge-container">
  <i class="fa fa-envelope-o"></i>
  <div class="badge badge-blue">3</div>
</div>

<% code("html") do %>
<div class="badge-container">
  <i class="fa fa-envelope-o"></i>
  <div class="badge badge-blue">3</div>
</div>
<% end %>
