<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2 class="section-heading">Pictures</h2>
      <img src="images/background.jpg" alt="">
    </div>
    <div class="media-section">
      <h2 class="section-heading">Description</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cumque, ipsa consequatur quia explicabo, deserunt quibusdam eveniet, quo laudantium ipsam odio sapiente excepturi voluptas, enim doloremque officia? Iusto, fugit assumenda!
      </p>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2 class="section-heading"><i class="fa fa-share-square-o"></i> Share</h2>
      <div class="share-links">
        <a href="#" class="share-link bg-facebook text-center">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="share-link bg-twitter text-center">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="share-link bg-email text-center">
          <i class="fa fa-envelope-o"></i>
        </a>
        <a href="#" class="share-link bg-text text-center">
          <i class="fa fa-mobile"></i>
        </a>
      </div>
    </div class="media-section">
    <div class="media-section">
      <h2 class="section-heading">382 upvotes</h2>
      <ul class="list-inline">
       <li>
          <img src="images/papillard.jpeg" alt="" class="avatar">
       </li>
       <li>
         <img src="images/papillard.jpeg" alt="" class="avatar">
       </li>
       <li>
         <img src="images/papillard.jpeg" alt="" class="avatar">
       </li>
      </ul>
    </div>
  </div>
</div>

<% code("html") do %>
<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2>Pictures</h2>
      ...
    </div>
    <div class="media-section">
      <h2>Description</h2>
      ...
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Share</h2>
      ...
    </div>
    <div class="media-section">
      <h2>382 upvotes</h2>
      ...
    </div>
  </div>
</div>
<% end %>
