<div class="media">
  <div class="media-body">
    <section class="media-section">
      <h2 class="section-heading">Pictures</h2>
      <img src="https://unsplash.it/500/200?image=0" alt="">
    </section>
    <section class="media-section">
      <h2 class="section-heading">Description</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cumque, ipsa consequatur quia explicabo, deserunt quibusdam eveniet, quo laudantium ipsam odio sapiente excepturi voluptas, enim doloremque officia? Iusto, fugit assumenda!
      </p>
    </section>
  </div>
  <div class="media-aside">
    <section class="media-section">
      <h2 class="section-heading"><i class="fa fa-share-square-o"></i> Share</h2>
      <div class="share-links">
        <a href="#" class="share-links-item bg-facebook text-center">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="share-links-item bg-twitter text-center">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="share-links-item bg-email text-center">
          <i class="fa fa-envelope-o"></i>
        </a>
        <a href="#" class="share-links-item bg-text text-center">
          <i class="fa fa-mobile"></i>
        </a>
      </div>
    </section class="media-section">
    <section class="media-section">
      <h2 class="section-heading">382 upvotes</h2>
      <ul class="list-inline">
       <li>
        <div class="user-badge-container">
           <img src="http://placehold.it/50x50" alt="" class="avatar">
           <div class="user-badge user-badge-red">M</div>
        </div>
       </li>
       <li>
         <img src="http://placehold.it/50x50" alt="" class="avatar">
       </li>
       <li>
         <img src="http://placehold.it/50x50" alt="" class="avatar">
       </li>
      </ul>
    </section>
  </div>
</div>

<% code("html") do %>
<div class="media">
  <div class="media-body">
    <section class="media-section">
      <h2>Pictures</h2>
      ...
    </section>
    <section class="media-section">
      <h2>Description</h2>
      ...
    </section>
  </div>
  <div class="media-aside">
    <section class="media-section">
      <h2>Share</h2>
      ...
    </section>
    <section class="media-section">
      <h2>382 upvotes</h2>
      ...
    </section>
  </div>
</div>
<% end %>
