<div class="message">
  <img src="http://kitt.lewagon.com/placeholder/users/gabriel-dehan" alt="" class="avatar-large">
  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>I am not sure yet!</strong></p>
    <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div>
</div>
<div class="message">
  <img src="http://kitt.lewagon.com/placeholder/users/cveneziani" alt="" class="avatar-large">
  <div class="message-name">
    <h3>Cecile Veneziani</h3>
    <p>23/09/17</p>
  </div>
  <div class="message-body">
    <p><strong>I’ll be glad to welcome you in my cosy flat</strong></p>
    <p>
      I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?
    </p>
  </div>
  <div class="message-status">
    <p class="status accepted">Accepted</p>
    <p class="price">€345</p>
  </div>
</div>

<% code("html") do %>
<div class="message">
  <img class="avatar-large" src="http://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>I am not sure yet!</strong></p>
    <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div>
</div>
<% end %>
