<p>Take your time to understand <strong>each part</strong> of the HTML code (logo, links, search form, separators, button).</p>
<p>Feel free to reorganize elements or delete the elements you don't need (e.g. delete search form if you don't have a navbar form).</p>

<br>

<div class="navbar-wagon">
  <div class="container-fluid navbar-wagon-container">

    <% link_to "/" do %>
      <%= image_tag "lewagon.png", class: "navbar-wagon-logo" %>
    <% end %>

    <div class="navbar-wagon-pusher"></div>

    <form action="" class="navbar-wagon-search hidden-xs hidden-sm">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <hr class="hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a>
    <hr>
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>

      </div>
    </div>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>

  </div>
</div>

<br>
<p><strong>Notice</strong>: change class to <code>"navbar-wagon navbar-wagon-fixed"</code> if you want a fixed-top navbar.</p>

<% code("html") do %>
<div class="navbar-wagon">
  <div class="navbar-wagon-container container-fluid ">

    <!-- Logo -->
    <a href="/">
      <img src="logo.png" class="navbar-wagon-logo">
    </a>

    <!-- Pushing navigation content on the right -->
    <div class="navbar-wagon-pusher"></div>

    <!-- Search form -->
    <form action="" class="navbar-wagon-search hidden-xs hidden-sm">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <hr class="hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

    <!-- Vertical separator -->
    <hr>

    <!-- Link with icon -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="icon-badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="icon-badge icon-badge-blue">3</div>
      </div>
    </a>

    <!-- Vertical separator -->
    <hr>

    <!-- Link with profile pic and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>

    <!-- Vertical separator -->
    <hr>

    <!-- Link with button design(call-to-action) -->
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Post stuff</a>
  </div>
</div>
<% end %>
