<div class="share-links">
  <a href="#" class="share-links-item bg-facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="#" class="share-links-item bg-twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="#" class="share-links-item bg-email">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="#" class="share-links-item bg-text">
    <i class="fa fa-mobile"></i>
  </a>
</div>

<% code("html") do %>
<div class="share-links">
  <a href="#" class="share-links-item bg-facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="#" class="share-links-item bg-twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="#" class="share-links-item bg-email">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="#" class="share-links-item bg-text">
    <i class="fa fa-mobile"></i>
  </a>
</div>
<% end %>
