<h3 class="readme-header">Tabs</h3>

<div class="tabs">
  <div class="tabs-item active">
    <h3>350</h3>
    <p>Followers</p>
  </div>
  <div class="tabs-item">
    <h3>456</h3>
    <p>Following</p>
  </div>
  <div class="tabs-item">
    <h3>189</h3>
    <p>Upvoted</p>
  </div>
  <div class="tabs-item">
    <h3>13</h3>
    <p>Submitted</p>
  </div>
</div>

<% code("html") do %>
<div class="tabs">
  <div class="tabs-item active">
    <h3>350</h3>
    <p>Followers</p>
  </div>
  <div class="tabs-item">
    <h3>456</h3>
    <p>Following</p>
  </div>
  <div class="tabs-item">
    <h3>189</h3>
    <p>Upvoted</p>
  </div>
  <div class="tabs-item">
    <h3>13</h3>
    <p>Submitted</p>
  </div>
</div>
<% end %>
