<h3 class="readme-header">User badge</h3>

<div class="badge-container">
   <img src="http://placehold.it/50x50" alt="" class="avatar-small">
   <div class="badge badge-red">M</div>
</div>

<% code("html") do %>
<div class="badge-container">
  <img src="http://placehold.it/50x50" alt="" class="avatar-small">
  <div class="badge badge-red">M</div>
</div>
<% end %>

