<h3 class="readme-header">User badge</h3>

<div class="badge-container">
   <img src="images/papillard.jpeg" alt="" class="avatar">
   <div class="badge badge-red">M</div>
</div>

<% code("html") do %>
<div class="badge-container">
  <img src="user.jpg" alt="user" class="avatar">
  <div class="badge badge-red">M</div>
</div>
<% end %>

