<p class="readme-header">Another simple component.</p>
<p>
  <div class="badge-container">
     <img src="https://kitt.lewagon.com/placeholder/users/papillard" alt="" class="avatar">
     <div class="user-badge badge-red"></div>
  </div>

  <div class="badge-container">
     <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="" class="avatar">
     <div class="user-badge badge-green"></div>
  </div>
</p>

<p>
  <div class="badge-container">
    <a href="#">messages</a>
    <div class="notification-badge badge-gray">5</div>
  </div>
</p>

<% code("html") do %>
<div class="badge-container">
   <img src="https://kitt.lewagon.com/placeholder/users/papillard" alt="" class="avatar">
   <div class="user-badge badge-red"></div>
</div>
<div class="badge-container">
   <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="" class="avatar">
   <div class="user-badge badge-green"></div>
</div>

<div class="badge-container">
  <a href="#">messages</a>
  <div class="notification-badge badge-gray">5</div>
</div>
<% end %>

