.avatar {
  width: 50px;
  border-radius: 50%;
}
.avatar-small {
  width: 30px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
