.badge-container {
  position: relative;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  color: grey;
}
.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.badge-red {
  background: $red;
}
.badge-green {
  background: $green;
}
.badge-blue {
  background: $blue;
}
.badge-black {
  background: black;
}
.badge-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
