.banner {
  background-size: cover;
  color: white;
  padding: 100px;
  position: relative;
  z-index: 0;
  h1 {
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 3;
  }
  &-shadow {
    background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 2;
  }

  .btn {
    padding: 11px 30px;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
  }
}