.card {
  height: 280px;
  text-decoration: none;
  color: #333333;
  opacity: 1;
}
.card:hover {
  text-decoration: none;
  opacity: 0.9;
  color: #333333;
}
.card-image {
  height: 175px;
  background-size: cover !important;
  background-position: center;
}
.card-category {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px;
}
.card-description {
  position: relative;
  background-color: white;
  padding: 25px 10px 10px 10px;
}
.card-description h2 {
  font-size: 20px;
  margin-top: 0;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-user {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: absolute;
  top: -25px;
  right: 10px;
}
