.share-links {
  display: flex;
  align-items: center;
  &-item {
    flex: 1 1 0;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    margin: 0 5px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}
