<%= partial "partials/components/banner" %>

<div class="post-detail">
  <div class="post-detail-body">
    <div class="post-detail-body-main">
      <section>
        <h2 class="section-heading">Media</h2>
        <img src="https://unsplash.it/1000/300?image=0" alt="">
      </section>
      <section>
        <h2 class="section-heading">Description</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cumque, ipsa consequatur quia explicabo, deserunt quibusdam eveniet, quo laudantium ipsam odio sapiente excepturi voluptas, enim doloremque officia? Iusto, fugit assumenda!
        </p>
      </section>
    </div>
    <div class="post-detail-body-aside">
      <section>
        <h2 class="section-heading"><i class="fa fa-share-square-o"></i> Share</h2>
        <div class="share-links">
          <a href="#" class="share-links-item bg-facebook text-center">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="share-links-item bg-twitter text-center">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="share-links-item bg-email text-center">
            <i class="fa fa-envelope-o"></i>
          </a>
          <a href="#" class="share-links-item bg-text text-center">
            <i class="fa fa-mobile"></i>
          </a>
        </div>
      </section>

      <section>
        <h2 class="section-heading">382 upvotes</h2>
        <ul class="list-inline">
         <li>
          <div class="user-badge-container">
             <img src="https://raw.githubusercontent.com/lewagon/design/master/pick-it/pictures/students/charlotte_cady.jpg" alt="" class="avatar">
             <div class="user-badge user-badge-red">M</div>
          </div>
         </li>
         <li>
           <img src="https://raw.githubusercontent.com/lewagon/design/master/pick-it/pictures/students/bertrand_bussac.jpg" alt="" class="avatar">
         </li>
         <li>
           <img src="https://raw.githubusercontent.com/lewagon/design/master/pick-it/pictures/students/willem_browne.jpg" alt="" class="avatar">
         </li>
        </ul>
      </section>

      </div>

    </div>
  </div>
</div>