<div class="banner text-center">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>Kudoz</h1>
    <p>Les meilleures offres d'emploi cadre sur mobile</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
    <div class='post-upvote text-center btn btn-default'>
      <div class="post-upvote-arrow"></div>
      <div class='post-upvote-count'>95</div>
    </div>
  </div>
</div>