<div class="card">
  <span class="card-bg"></span>
  <span class="card-shadow"></span>
  <span class="card-description">Popular</span>
  <span class="card-text">
    <h2>Yahoo live-text</h2>
    <p>Live-video texting, without song</p>
  </span>
  <span class="card-user">
    <img src='http://d9sch4zul5dl8.cloudfront.net/assets/alumni/vincentsimon-df95303b5a6148a58a059450ad248c4e.jpg' class="avatar"/>
  </span>
  <a href="#" class="card-link"></a>
</div>