---
title: Le Wagon UI components
---


<div class="container readme">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <section>
        <h2>Avatar</h2>
        <%= partial "partials/components/avatar" %>
        <%= link_to "Download .SCSS file", ""%>
      </section>

      <section>
        <h2>Badge</h2>
        <%= partial "partials/components/user_badge" %>
        <%= partial "partials/components/icon_badge" %>
      </section>

    </div>
  </div>
</div>
