---
title: Le Wagon Middleman ProductHunt boilerplate
---

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h1 class="section-heading">Product Hunt boilerplate</h1>
      <p>
        Read carefull our <a href="http://github.com/lewagon/producthunt-boilerplate" target="_blank">Github readme</a> to understand our HTML/CSS components. Here are some examples:
      </p>
      <ul>
        <li><%= link_to "Posts list", "/examples/posts.html"%></li>
        <li><%= link_to "Post layout", "/examples/post_layout.html"%></li>
        <li><%= link_to "Cards grid", "/examples/cards.html"%></li>
      </ul>
    </div>
  </div>
</div>
