<%= partial "banner" %>

<div class="post-detail">
  <div class="post-detail-body">
    <div class="post-detail-body-main">
      <section>
        <h2 class="section-heading">Media</h2>
        <img src="https://files.producthunt.com/c4b66705-3aa9-48ac-a36f-cc8391f30099?x=1302&y=420" alt="">
      </section>
      <section>
        <h2 class="section-heading">Description</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cumque, ipsa consequatur quia explicabo, deserunt quibusdam eveniet, quo laudantium ipsam odio sapiente excepturi voluptas, enim doloremque officia? Iusto, fugit assumenda!
        </p>
      </section>
    </div>
    <div class="post-detail-body-aside">
      <section>
        <h2 class="section-heading"><i class="fa fa-share-square-o"></i> Share</h2>
        <div class="share-links">
          <a href="#" class="share-links-item bg-facebook text-center">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="share-links-item bg-twitter text-center">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="share-links-item bg-email text-center">
            <i class="fa fa-envelope-o"></i>
          </a>
          <a href="#" class="share-links-item bg-text text-center">
            <i class="fa fa-mobile"></i>
          </a>
        </div>
      </section>

      <section>
        <h2 class="section-heading">382 upvotes</h2>
        <ul class="list-inline">
         <li>
          <div class="user-badge-container">
             <img src="https://avatars-cdn.producthunt.com/22274/60" alt="" class="avatar">
             <div class="badge-wagon badge-wagon-red">M</div>
          </div>
         </li>
         <li>
           <img src="https://avatars-cdn.producthunt.com/32872/60" alt="" class="avatar">
         </li>
         <li>
           <img src="https://avatars-cdn.producthunt.com/279732/60" alt="" class="avatar">
         </li>
         <li>
           <img src="https://avatars-cdn.producthunt.com/205593/60" alt="" class="avatar">
         </li>
        </ul>
      </section>

      </div>

    </div>
  </div>
</div>